<form action="//phpsurrey.us11.list-manage.com/subscribe/post?u=332cc3a7b4aa5a9ef54a7922d&amp;id=392dcfea64" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" role="form">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="mce-EMAIL" class="control-label">Subscribe to our mailing list</label>
        </div>
        <div class="form-group">
          <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="you@example.com" required>
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_332cc3a7b4aa5a9ef54a7922d_392dcfea64" tabindex="-1" value=""></div>
        </div>
      </div>
    </div>

    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success"></div>
  </div>
</form>
