{% extends layout %}

{% block content %}
<h2>Events</h2>

<p>Signup to <a href="http://www.eventbrite.co.uk/e/php-surrey-inaugural-september-meetup-registration-17870907365?aff=www">PHP Surrey Inaugural September Meetup on EventBrite</a></p>

{% endblock content %}
