{% extends layout %}
{% block meta %}
  <title>Events - PHP Surrey</title>
{% endblock meta %}

{% block content %}
<h2>Events</h2>

<p>Signup to <a href="http://www.eventbrite.co.uk/e/php-surrey-october-2015-meetup-registration-18614313914?aff=www">PHP Surrey 7th October 2015 Meetup on EventBrite</a>, featuring talks by Chris Hoult &amp; Michael Cullum.</p>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "PHP Surrey October 2015 Meetup",
  "startDate" : "2014-10-07T19:00",
  "endDate" : "2014-10-07T22:00",
  "url" : "http://www.eventbrite.co.uk/e/php-surrey-october-2015-meetup-registration-18614313914?aff=www",
  "location" : {
    "@type" : "Place",
    "sameAs" : "http://guildford-institute.org.uk/",
    "name" : "Guildford Institute",
    "address" : "The Guildford Institute, Ward Street, Guildford, GU1 4LH"
  },
  "offers" : [{
    "@type" : "Offer",
    "name" : "General Registration",
    "category" : "primary",
    "price" : "0.00",
    "priceCurrency" : "GBP",
    "availability" : "OnlineOnly",
    "url" : "http://www.eventbrite.co.uk/e/php-surrey-october-2015-meetup-registration-18614313914?aff=www"
  }],
  "performer" : [{
    "@type" : "Person",
    "name" : "Chris Hoult",
    "sameAs" : "https://twitter.com/choult"
  },
  {
    "@type" : "Person",
    "name" : "Michael Cullum",
    "sameAs" : "https://twitter.com/michaelcullumuk"
  }]
}
</script>

<h3>Previous meetups</h3>

<p><a href="http://www.eventbrite.co.uk/e/php-surrey-inaugural-september-meetup-registration-17870907365?aff=www">PHP Surrey Inaugural September Meetup</a></p>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "PHP Surrey Inaugural September Meetup",
  "startDate" : "2014-09-02T19:00",
  "endDate" : "2014-09-02T22:00",
  "url" : "http://www.eventbrite.com/e/php-surrey-inaugural-september-meetup-tickets-17870907365?aff=www",
  "location" : {
    "@type" : "Place",
    "sameAs" : "http://guildford-institute.org.uk/",
    "name" : "Guildford Institute",
    "address" : "The Guildford Institute, Ward Street, Guildford, GU1 4LH"
  },
  "performer" : [{
    "@type" : "Person",
    "name" : "Jenny Wong",
    "sameAs" : "https://twitter.com/miss_jwo"
  }]
}
</script>

{% endblock content %}
