{% extends layout %}
{% block meta %}
<title>PHP Surrey</title>
<meta name="description" content="PHP Surrey: A new community driven PHP usergroup in the heart of Surrey (UK) with monthly meetups featuring a range of speakers">
{% endblock meta %}

{% block content %}
<h2><a id="php-surrey" class="anchor" href="#php-surrey" aria-hidden="true"><span class="octicon octicon-link"></span></a>PHP Surrey</h2>

<p><strong>We are proud to announce our July meetup will be on the 6th July 2016 from 19:00 to 21:00 (GMT)!</strong></p>
<p>Our speaker will be <a href="https://twitter.com/Mark_Baker">Mark Baker</a></p>
<p>You can view further details <a href="/events">on our events page</a>.</p>

<hr />

<h3>Keep in touch</h3>
<p>
  We've listed the best ways to get in touch on our <a href="/contact">contact page</a>. Alternatively subscribe to our mailing list (below) for email updates.
</p>

<div class="row">
  <div class="col-md-6">
    <div class="panel">
      {% embed "_mailing_list.html.twig" %}{% endembed %}
    </div>
  </div>
  <div class="col-md-6">
    <img src="/images/elephpants_in_surrey.jpg" width="256" height="256" align="right" />
  </div>
</div>

{% endblock content %}
