{% extends "layout.html.twig" %}

{% block content %}
<h3>Location</h3>

<p>[GMap Here]</p>

<p>Trains - From Guildford station it is a 10 minute walk. Turn right out of the station (towards bridge house). At bridge house turn left towards the YMCA. When you get to the traffic lights cross over and turn right and follow that road around to the left (to the left of the taxi rank) until you are on north street (Looks like a high street). Walk up north street (past Argos and HSBC) until you get to RBS (opposite Betfred) then turn left and the guildford institute is just down that lane (Ward Street) on the left.</p>
{% endblock content %}
