{% extends layout %}
{% block meta %}
  <title>Location - PHP Surrey</title>
  <meta name="description" content="We currently meet at 7:00PM on last monday of every month at Guildford Institute">
{% endblock meta %}

{% block content %}
<h2>Location</h2>

<p>We currently meet at 7:00PM on first Wednesday of every month at <a href="https://www.google.co.uk/maps/place/Guildford+Institute/@51.2371531,-0.5724217,17z">Guildford Institute</a>.</p>

<iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Guildford%20Institute%2C%20Ward%20Street%2C%20Guildford%2C%20United%20Kingdom&key=AIzaSyCFIAkIF3J0Z_4FkQOn8sSzC1epJPG23Zk" allowfullscreen></iframe>

<h3>Find by train</h3>

<p>From Guildford station it is a 10 minute walk. Turn right out of the station (towards bridge house). At bridge house turn left towards the YMCA. When you get to the traffic lights cross over and turn right and follow that road around to the left (to the left of the taxi rank) until you are on north street (Looks like a high street). Walk up north street (past Argos and HSBC) until you get to RBS (opposite Betfred) then turn left and the Guildford Institute is just down that lane (Ward Street) on the left.</p>

<h3>Find by car</h3>

<p>There is plenty of <a href="http://en.parkopedia.co.uk/parking/guildford_institute_ward_street_guildford_united_kingdom/?ac=1&country=UK&lat=51.237153&lng=-0.5724219999999605">parking around Guildford</a>, though the closest place to park is the High Street which is free after 6PM.</p>

<p>If you plan to spend a few hours in Guildford, the <a href="http://new.surreycc.gov.uk/roads-and-transport/buses-and-trains/guildford-park-and-ride">Guildford park and ride</a> is a good alternative</p>

{% endblock content %}
