{% extends layout %}

{% block content %}
<h2>Proudly sponsored by...</h2>

<img src="/images/sponsors/spectrum.jpg" width="415" height="144" class="thumbnail">

<h3>Spectrum IT</h3>

<p>Spectrum IT Recruitment is a collaboration of over 10 years recruitment experience, providing recruitment services and consultancy to the IT sector UK wide.</p>

<p>Visit: <a href="http://www.spectrumit.co.uk/">www.spectrumit.co.uk</a></p>

{% endblock content %}
