.jumbotron {
  background: #98c5e6 url("/images/surrey_hills.jpg") repeat-x 0 0;
  background-size: cover;
  margin-bottom: 0;

  h1 {
    margin: 0;
    color: #fff;
    font-size: 2.2625rem;
    font-weight: 700;
    text-shadow: #000 0px 0px 6px;
  }

  .tagline {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    background: none;
    text-shadow: #000 0px 0px 6px;
    margin: 10px 0 20px 0;
  }
}
